<!DOCTYPE html>

<html ng-app="<%= moduleName %>">
    <head>  
        <!-- meta content -->
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= _.capitalize(title) %></title>
        <!-- style -->
        <link rel="stylesheet" href="css/app.css"/>
    </head>
    <body>
        <!-- wrapper -->
        <div ng-view></div>
        <!-- AngularJS -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
</html>